# Naver Developer API (https://developers.naver.com)
NAVER_CLIENT_ID=your_client_id_here
NAVER_CLIENT_SECRET=your_client_secret_here

# Unsplash API (https://unsplash.com/developers)
UNSPLASH_ACCESS_KEY=your_access_key_here
